{
  "core": null,
  "phpVersion": "8.2",
  "plugins": [
    "./thix-yuno-card"
  ],
  "config": {
    "WP_DEBUG": true,
    "WP_DEBUG_LOG": true,
    "SCRIPT_DEBUG": true,
    "WP_ENVIRONMENT_TYPE": "development",

    "ACCOUNT_CODE": "your-yuno-account-code",
    "PUBLIC_API_KEY": "sandbox_your-public-api-key",
    "PRIVATE_SECRET_KEY": "your-private-secret-key"
  }
}
